.calender {
    padding: 60px;
    text-align: center;
    overflow: scroll;
}
.time-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
}
.day-card {
    padding: 10px;
    width: 120px;
    margin: 2px 4px;
    height: 60px;
    font-size: 12px;
    display: inline-block;
    text-align: center;
}
.day-card-day {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
}
.day-card-date {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}
.empty-box {
    width: 70px;
    display: inline-block;
}
.one-list {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-column-gap: 4px;
}